<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>game-omni</title>
    <script type="module" src="/src/main.ts"></script>

    <style>
      html,
      body {
        background: #000;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #game-container {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="game-container"></div>
  </body>
</html>
